@media (min-width: 768px){

.button{ 
    &:hover{
        cursor: pointer;
        background: #EB443F;
    }
}
.games__image{
    transition: all 0.4s;
    &:hover{
    border: 3px solid #44D2FF;}
}
}